<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
          http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
     <mirror>
            <id>public</id>
            <mirrorOf>central</mirrorOf>
            <name>http://repo-nexus-01.telecel.net.py:8081/nexus/content/groups/public</name>
            <url>http://repo-nexus-01.telecel.net.py:8081/nexus/content/groups/public</url>
        </mirror>
        <mirror>
            <id>public-snapshots</id>
            <mirrorOf>snapshots</mirrorOf>
            <name>http://repo-nexus-01.telecel.net.py:8081/nexus/content/groups/public-snapshots</name>
            <url>http://repo-nexus-01.telecel.net.py:8081/nexus/content/groups/public-snapshots</url>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>tigo-snapshots</id>
            <username>${env.TIGO_DEPLOYMENT_USER}</username>
            <password>${env.TIGO_DEPLOYMENT_PASS}</password>
        </server>
    </servers>
    <activeProfiles>
        <activeProfile>fullTest</activeProfile>
    </activeProfiles>
</settings>